.form {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0 20px;
  background-color: $bg-content;
}

.form__info,
.form__program,
.form__contacts,
.form__comment,
.form__additional {
  margin: 10px 0;
  padding: 0;
  border: 0;
}

/*.form__info {
  border-bottom: 1px solid red;
}*/

.form__legend {
  padding: 20px 0;

  @include oswald-parameters(24px, 26px, 400, $title-color);

  text-transform: none;
}

.form__list {
  @include list-decoration();
}

.form__list--contacts {
  display: flex;
  flex-direction: column;
}

.form__item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 10px;
}

.form__label {
  padding-right: 15px;

  @include oswald-parameters(16px, 18px, 400, $text-color);

  white-space: nowrap;
}

.form__label--checkbox {
  color: $title-color;
}

.form__placeholder {
  width: 100%;
  height: 45px;
  margin-right: 20px;
  padding: 0;
  border-color: #e7e7e7;
  outline: 0;
}

.form__placeholder::placeholder {
  @include oswald-parameters(16px, 18px, 400, $text-color);
}

.form__placeholder--textarea {
  width: 260px;
  height: 150px;
  padding: 10px;
}

.form__list--additional {
  display: grid;
  grid-template-columns: 1fr;
  padding-bottom: 30px;
}

.form__button {
  width: 280px;
  margin-left: 0;
  outline: 0;
}

.form__note {
  @include arial-parameters($text-size, 16px, 400, $title-color);

  text-align: center;
}
